{% extends 'emailservice/base.html'%}
{% load m_filter %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ article.image | media_filter }}">
            <div class="card-body">
              <p class="card-text">Заголовок: {{ article.name }}</p>
              <p class="card-text">Содержание: {{ article.description }}</p>
              <p class="card-text">Просмотров: {{ article.count_views }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'blogs:list' %}" role="button">Назад</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}