{% extends 'emailservice/base.html'%}
{% block content %}
<form class="row" method="post" enctype="multipart/form-data">
    <div class="conteiner">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-titel">
                            Вход
                        </h3>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p}}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Войти
                        </button>
                    </div>
                </div>
                <a href="#" >Востановить пароль</a>
            </div>
        </div>
    </div>
</form>>
{% endblock %}